.banner-main-heading-type {
    font-size: 130%;
    line-height: 2rem;
    background-color: rgba(243,243,240,1.0);
    border-top: 2px solid rgba(251, 197, 49, 0.7);
}

.heading-title {
    font-weight: 400;
    border-bottom: 1px solid rgba(150,150,150,1.0);
    font-size: 140%;
}

@media screen and (max-width: 767px) {
    .banner-main-heading-type {
        font-size: 100% !important;
    }
}
