body, .MuiTypography-body1 {
    font-family: 'Quicksand', sans-serif !important;
}

.full-page {
    margin: 0;
    padding: 0;
    height: 100%;
}

.center-text {
    display: flex;
    justify-content: center;
}

#main-logo {
    width: 100%;
}

.jumbotron {
    background-color: rgba(240,240,240,1.0) !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
}

.hr-light {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(100,100,100,0), rgba(100,100,100,0.75), rgba(100,100,100,0));
}

.main-display {
    font-weight: 100 !important;
    letter-spacing: 0.6rem;
    color: rgba(0,0,0,0.7);
    transform: scale(1, 0.9);
}

.slightly-smaller {
    font-size: 80%;
}

.larger-text {
    font-size: 150%;
}

.squeezed {
    transform: scale(1, 0.95);
}

.larger-spacing {
    letter-spacing: 0.5rem;
}

/*INPUT FORMS*/

.input-credentials {
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
}

.btn-lg {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    font-size: 2.2rem;
}

/*SIGN UP PAGE*/

.pink-button:active, .pink-button:focus, .pink-button:hover  {
    background-color: #fff;
    border: 1px solid rgba(220,120,200,1.0);
    color: rgba(220,120,200,1.0);
}

.pink-button {
    background-color: rgba(220,120,200,1.0);
    border: 1px solid #fff;
    color: #fff;
}

.pink-border {
    border: 1px solid rgba(123, 66, 111, 0.5);
    font-size: 25px;
}

.pink-border:active, .pink-border:focus {
    outline: none !important;
}

.pink-border:active, .pink-border:focus {
    outline: none !important;
    border: 1px solid rgba(220,120,200,1.0) !important;
    box-shadow: 0 0 3px rgba(220,120,200,1.0) !important;
    -moz-box-shadow: 0 0 3px rgba(220,120,200,1.0) !important;
    -webkit-box-shadow: 0 0 3px rgba(220,120,200,1.0) !important;
}

.pink-border::-webkit-input-placeholder {
    font-size: 100%;
}

.pink-border:-moz-placeholder { /* Firefox 18- */
    font-size: 100%;
}

.pink-border::-moz-placeholder {  /* Firefox 19+ */
    font-size: 100%;
}

.pink-border:-ms-input-placeholder {
    font-size: 100%;
}

/*INPUT FORMS*/

.input-credentials {
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
}

.btn-lg {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    font-size: 2.2rem;
}

/*LOGIN PAGE*/

.blue-button:active, .blue-button:focus, .blue-button:hover  {
    background-color: #fff;
    border: 1px solid rgba(37, 204, 247, 1.0);
    color: rgba(37, 204, 247, 1.0);
}

.blue-button {
    background-color: rgba(37, 204, 247, 1.0);
    border: 1px solid #fff;
    color: #fff;
}

.blue-border {
    border: 1px solid rgb(76, 184, 211);
    font-size: 25px;
}

.blue-border:active, .blue-border:focus {
    outline: none !important;
}

.blue-border:active, .blue-border:focus {
    outline: none !important;
    border: 1px solid rgba(37, 204, 247, 1.0) !important;
    box-shadow: 0 0 3px rgba(37, 204, 247, 1.0) !important;
    -moz-box-shadow: 0 0 3px rgba(37, 204, 247, 1.0) !important;
    -webkit-box-shadow: 0 0 3px rgba(37, 204, 247, 1.0) !important;
}

.blue-border::-webkit-input-placeholder {
    font-size: 100%;
}

.blue-border:-moz-placeholder { /* Firefox 18- */
    font-size: 100%;
}

.blue-border::-moz-placeholder {  /* Firefox 19+ */
    font-size: 100%;
}

.blue-border:-ms-input-placeholder {
    font-size: 100%;
}

/*NAVBAR STYLES*/

.navbar {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.navbar-brand {
    font-size: 250%;
    transform: scale(1, 0.8);
}

.navbar-brand-word {
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    letter-spacing: 0.6rem;
}

.navbar-brand-box {
    border-left: 1px solid rgba(200,200,200,1.0);
}

.chit-chat {
    color: rgba(40,40,40,1.0);
    font-weight: 100;
}

.blue {
    background-color: rgba(37, 204, 247, 0.2);
    font-weight: 200;
}

.pink {
    background-color: rgba(220,120,200,0.2);
    font-weight: 200;
}

.green {
    background-color: #4cd13733;
    font-weight: 200;
}

.yellow {
    background-color: rgba(251, 197, 49, 0.2);
    font-weight: 100;
}

.dark-grey {
    color: rgba(70,70,70,0.9);
}

.login-tab {
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(37, 204, 247, 0.7);
    color: gray;
}

.register-tab {
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(220,120,200,0.7);
    color: gray;
}

.user-tab {
    padding-bottom: 3px;
    border-bottom: 2px solid #4cd13766;
    color: gray;
}

.logout-tab {
    padding-bottom: 1px;
    border-bottom: 2px solid rgba(251, 197, 49, 0.7);
    color: gray;
}

.nav-item {
    font-size: 120%;
}

/*SIDEBAR*/

.ckDDmI {
    background-color: rgba(0,0,0,0.0) !important;
}

.sidebar-menu-wrapper {
    padding-top: 5px;
    border-top: 2px solid rgba(220,120,200,0.7);
}

.sidebar-contact-wrapper {
    padding-top: 20px;
    border-top: 2px solid rgba(37, 204, 247, 0.7);
}

.list-group-item {
    font-size: 120%;
}

.chat-heading {
    font-weight: 200;
    letter-spacing: 0.15rem;
}

.red-line {
    border-bottom: 2px solid rgba(220,120,200,0.7);
}

.blue-line {
    border-bottom: 2px solid rgba(37, 204, 247, 0.7);
}

.green-line {
    border-bottom: 2px solid #4cd13766;
}

/*LANDING PAGE*/

.landing-item {
    padding-top: 150px;
    padding-bottom: 150px;
}

.landing-quote {
    font-weight: 100;
    letter-spacing: 0.1rem;
}

/*Dashboard*/

.btn-green {
    color: #fff;
    background-color: #4cd137;
    border-color: #4cd137;
}

.btn-green:hover, .btn-green:active, .btn-green:focus {
    color: #4cd137;
    border-color: #4cd137;
    background-color: #fff;;
}

.btn-red {
    color: #fff;
    background-color: rgba(220,120,200,1.0);
    border-color: rgba(220,120,200,1.0);
}

.btn-red:hover, .btn-red:active, .btn-red:focus {
    color: rgba(220,120,200,1.0);
    border-color: rgba(220,120,200,1.0);
    background-color: #fff;
}

.green-border {
    border: 1px solid #4cd137;
    font-size: 25px;
}

.green-border:active, .green-border:focus {
    outline: none !important;
}

.green-border:active, .green-border:focus {
    outline: none !important;
    border: 1px solid #4cd137 !important;
    box-shadow: 0 0 3px #4cd137 !important;
    -moz-box-shadow: 0 0 3px #4cd137 !important;
    -webkit-box-shadow: 0 0 3px #4cd137 !important;
}

.green-border::-webkit-input-placeholder {
    font-size: 100%;
}

.green-border:-moz-placeholder { /* Firefox 18- */
    font-size: 100%;
}

.green-border::-moz-placeholder {  /* Firefox 19+ */
    font-size: 100%;
}

.green-border:-ms-input-placeholder {
    font-size: 100%;
}

.red-border {
    border: 1px solid rgba(220,120,200,1.0);
    font-size: 25px;
}

.red-border:active, .red-border:focus {
    outline: none !important;
}

.red-border:active, .red-border:focus {
    outline: none !important;
    border: 1px solid rgba(220,120,200,1.0) !important;
    box-shadow: 0 0 3px rgba(220,120,200,1.0) !important;
    -moz-box-shadow: 0 0 3px rgba(220,120,200,1.0) !important;
    -webkit-box-shadow: 0 0 3px rgba(220,120,200,1.0) !important;
}

.red-border::-webkit-input-placeholder {
    font-size: 100%;
}

.red-border:-moz-placeholder { /* Firefox 18- */
    font-size: 100%;
}

.red-border::-moz-placeholder {  /* Firefox 19+ */
    font-size: 100%;
}

.red-border:-ms-input-placeholder {
    font-size: 100%;
}

.find-users-heading {
    border-bottom: 2px solid rgba(251, 197, 49, 0.7);
}

/*Media Queries*/

@media screen and (max-width: 575px) {
    .login-tab, .register-tab, .user-tab, .logout-tab {
        border-bottom: none !important;
    }

    .list-group-item, #chat-heading-wrapper {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 388px) {

    .navbar-brand {
        margin-left: auto !important; 
        margin-right: auto !important; 
        padding-left: auto !important; 
        padding-right: auto !important; 
    }

    .navbar-toggler {
        width: 60%; 
        margin-left: auto !important; 
        margin-right: auto !important; 
        margin-bottom: 5px;
    }

}

@media screen and (max-width: 323px) {
    .navbar-brand {
        font-size: 190%;
    }
}