.recSender{
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgba(251, 197, 49, 0.2);
    box-shadow: 0px, 5px, 7px -7px rgba(0,0,0,0.75);
    width: 100%;
}

.recSender__top{
    display: flex;
    padding-bottom: 15px;
    padding: 15px;
}
.recSender__top > form {
    flex:1;
    display:flex;
}

.recSender__top > form > input{
    outline-width:0;
    border: none;
    padding:5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.recSender__top > form > button {
    display:none;
}
.recPost{
    width: 100%;
    height:50%;
    margin-top:15px;
    border-radius: 15px;
    box-shadow: 0px, 5px, 7px -7px rgba(0,0,0,0.75);
} 

.redbg{
    background-color: rgba(220,120,200,0.4);
}

.greenbg{
    background-color: #4cd13733;
}

.bluebg{
    background-color: rgba(37, 204, 247, 0.4);
}

.post_top{
    display:flex;
    position: relative;
    align-items: center;
    padding:15px;
}
.post_avatar{
    margin-right: 10px;
}

.post_topInfo > h3{
    font-size: large;
    font-weight: bold;
}

.post_topInfo > p{
    font-size: large;
    font-weight: bolder;
    color:gray
}

.post_bottom {
    margin-top:10px;
    margin-bottom:10px;
    padding:15px 25px;
}







.recognitions {
    height: 300px;
    overflow: scroll;
    background-color: rgba(240,240,240,1.0);
}

/*Keep scrollbar visible*/

.recognitions::-webkit-scrollbar {
    -webkit-appearance: none;
}

.recognitions::-webkit-scrollbar:vertical {
    width: 15px;
}

.recognitions::-webkit-scrollbar:horizontal {
    height: 0px;
}

.recognitions::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(251, 197, 49, 0.7);
}

.recognitions::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #fff;
}

